Comparison Operators

In [1]:
1==1

True

In [2]:
1==3

False

In [3]:
"Hi"=="Hi"

True

In [4]:
"hi"=="Hi"

False

In [5]:
3.0==3

True

In [6]:
"1"==1

False

In [7]:
3!=3

False

In [8]:
5!=3

True

In [9]:
2>1

True

In [10]:
1<2

True

In [11]:
1>=1

True

In [12]:
4<=4

True

In [13]:
4>=4

True

Chaining Comparison Operators

# LOGICAL OPERATORS

In [14]:
1<2

True

In [15]:
3<4

True

In [16]:
1<2<3<4

True

In [17]:
1>2<3<4

False

and

true AND true - true

true AND false - false

false AND true - false

false AND false - false

In [18]:
1<2 and 3<4

True

In [19]:
"Hi"=="Hi" and "Hello"=="Hello"

True

In [20]:
2==2 and 1>2

False

In [21]:
1>2 and 3>4

False

or

true OR false - true

false OR true - true

true OR true - true

false OR false - false

In [22]:
1==1 or 3==3

True

In [23]:
1<2 or 1>2

True

In [24]:
1>2 or 1>3

False

not

In [25]:
1==1

True

In [26]:
not 1==1

False

In [27]:
1>2

False

In [28]:
not 1>2

True

# IF, ELIF, ELSE

In [29]:
#control flow

In [30]:
if True:
    print("it is true.")

it is true.

In [31]:
if 3>1:
    print("it is true.")

it is true.

In [32]:
if 1>3:
    print("it is true.")

In [33]:
a=True
if a:
    print("true...")

true...

In [34]:
a=False
if a:
    print("true...")

In [35]:
a=False
if a:
    print("true...")
else:
    print("false...")

false...

In [36]:
a=False
if a==True:
    print("true...")
else:
    print("false...")

false...

In [37]:
x=1
if x>1:
    print("x>1")
elif x<1:
    print("x<1")
elif x==1:
    print("x=1")
else:
    print("x is not a number.")

x=1

In [38]:
x=4
if x>1:
    print("x>1")
elif x<1:
    print("x<1")
elif x==1:
    print("x=1")
else:
    print("x is not a number.")

x>1

In [39]:
x=-4
if x>1:
    print("x>1")
elif x<1:
    print("x<1")
elif x==1:
    print("x=1")
else:
    print("x is not a number.")

x<1

# FOR

In [40]:
#iterable

In [41]:
my_list=[1,2,3]

In [42]:
my_list

[1, 2, 3]

In [43]:
for a in my_list:
    print(a)

1
2
3

In [44]:
for a in my_list:
    print("Hi.")

Hi.
Hi.
Hi.

In [45]:
my_list=[1,2,3,4,5,6]

In [46]:
my_list

[1, 2, 3, 4, 5, 6]

In [47]:
for a in my_list:
    if a%2==0:
        print(a)

2
4
6

In [48]:
for a in my_list:
    if a%2==0:
        print(a)
    else:
        print(f"odd: {a}")

odd: 1
2
odd: 3
4
odd: 5
6

In [49]:
my_list

[1, 2, 3, 4, 5, 6]

In [50]:
list_sum=0
for a in my_list:
    list_sum=list_sum+a
print(list_sum)

21

In [51]:
list_sum=0
for a in my_list:
    list_sum=list_sum+a
    print(list_sum)

1
3
6
10
15
21

In [52]:
my_string="Hi everybody!"

In [53]:
for a in my_string:
    print(a)

H
i

e
v
e
r
y
b
o
d
y
!

In [54]:
for a in "Zeynep":
    print(a)

Z
e
y
n
e
p

In [55]:
for a in "Zeynep":
    print("i am")

i am
i am
i am
i am
i am
i am

In [56]:
tuple1=(1,2,3)
for a in tuple1:
    print(a)

1
2
3

In [57]:
mylist1=[(1,2),(3,4),(5,6)]

In [58]:
mylist1

[(1, 2), (3, 4), (5, 6)]

In [59]:
len(mylist1)

3

In [60]:
for a in mylist1:
    print(a)

(1, 2)
(3, 4)
(5, 6)

In [61]:
for (a,b) in mylist1:
    print(a)
    print(b)

1
2
3
4
5
6

In [62]:
for a,b in mylist1:
    print(a)

1
3
5

In [63]:
for a,b in mylist1:
    print(b)

2
4
6

In [64]:
d={"k1":1,"k2":2,"k3":3}

In [65]:
d

{'k1': 1, 'k2': 2, 'k3': 3}

In [66]:
for a in d:
    print(a)

k1
k2
k3

In [67]:
for a in d.items():
    print(a)

('k1', 1)
('k2', 2)
('k3', 3)

In [68]:
for a in d.keys():
    print(a)

k1
k2
k3

In [69]:
for a in d.values():
    print(a)

1
2
3

In [70]:
for key,value in d.items():
    print(key)

k1
k2
k3

In [71]:
for key,value in d.items():
    print(value)

1
2
3

# WHILE

In [72]:
x=0
while x<=5:
    print(f"x is {x}.")
    x=x+1 # x+=1

x is 0.
x is 1.
x is 2.
x is 3.
x is 4.
x is 5.

In [73]:
x=0
while x<=5:
    print(f"x is {x}.")
    x+=1

x is 0.
x is 1.
x is 2.
x is 3.
x is 4.
x is 5.

In [74]:
x=0
while x<=5:
    print(f"x is {x}.")
    x+=1
else:
    print("5>=x")

x is 0.
x is 1.
x is 2.
x is 3.
x is 4.
x is 5.
5>=x

In [75]:
x=10
while x<=5:
    print(f"x is {x}.")
    x+=1
else:
    print("5>=x")

5>=x

# Pass

In [76]:
x=[1,2,3]
for a in x:
    pass #do nothing, a placeholder

# Continue

In [77]:
x="Zeynep"
for a in x:
    print(a)

Z
e
y
n
e
p

In [78]:
for a in x:
    if a=="e":
        continue
    print(a)

Z
y
n
p

# Break

In [79]:
for a in x:
    if a=="e":
        break
    print(a)

Z

In [80]:
x=0
while x<=5:
    print(f"x is {x}.")
    x+=1

x is 0.
x is 1.
x is 2.
x is 3.
x is 4.
x is 5.

In [81]:
x=0
while x<=5:
    if x==3:
        break
    print(f"x is {x}.")
    x+=1

x is 0.
x is 1.
x is 2.

# Range

range(stop)

range(start,stop)

range(start,stop,step)

In [82]:
for a in range(5):
    print(a)

0
1
2
3
4

In [83]:
for a in range(5,10):
    print(a)

5
6
7
8
9

In [84]:
for a in range(5,10,2):
    print(a)

5
7
9

In [85]:
range(10) #important

range(0, 10)

In [86]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Enumerate

In [87]:
index_count=0
for a in "zeynep":
    print(f"{index_count}. index is {a}.")
    index_count+=1

0. index is z.
1. index is e.
2. index is y.
3. index is n.
4. index is e.
5. index is p.

In [88]:
index_count=0
x="istanbul"
for a in x:
    print(x[index_count])
    index_count+=1

i
s
t
a
n
b
u
l

In [89]:
x="istanbul"
for a in enumerate(x):
    print(a)

(0, 'i')
(1, 's')
(2, 't')
(3, 'a')
(4, 'n')
(5, 'b')
(6, 'u')
(7, 'l')

In [90]:
x="hi"
for (index,letter) in enumerate(x):
    print(index)
    print(letter)
    print("\n")

0
h


1
i

# Zip

In [91]:
mylist1=[1,2,3]
mylist2=["a","b","c"]

In [92]:
zip(mylist1,mylist2)

In [93]:
for a in zip(mylist1,mylist2):
    print(a)

(1, 'a')
(2, 'b')
(3, 'c')

In [94]:
mylist3=[100,200,300]

In [95]:
for a in zip(mylist1,mylist2,mylist3):
    print(a)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [96]:
mylist1=[1,2,3,4,5,6,7,8,9]
mylist2=["a","b","c"]

In [97]:
for a in zip(mylist1,mylist2):
    print(a)

(1, 'a')
(2, 'b')
(3, 'c')

In [98]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

# in

In [99]:
"x" in [1,2,3]

False

In [100]:
"x" in "xyxy"

True

In [101]:
1 in [1,2,3]

True

In [102]:
"x" in ["xy"]

False

In [103]:
"x" in ["x","y"]

True

In [104]:
"a" in {"a":1}

True

In [105]:
"a" in {1:"a"}

False

In [106]:
d={"k1":"v1"}

In [107]:
"k1" in d

True

In [108]:
"k1" in d.items()

False

In [109]:
"k1" in d.keys()

True

In [110]:
"k1" in d.values()

False

In [111]:
"v1" in d.items()

False

In [112]:
"v1" in d.keys()

False

In [113]:
"v1" in d.values()

True

# Min Max

In [114]:
mylist=[10,100,1,-10,-100]

In [115]:
min(mylist)

-100

In [116]:
max(mylist)

100

# Random Library

shuffle

In [117]:
from random import shuffle #tab

In [118]:
my_list=[1,2,3,4,5,6,7,8,9]

In [119]:
shuffle(my_list)

In [120]:
my_list

[7, 6, 4, 1, 5, 2, 9, 8, 3]

In [121]:
shuffle(my_list)

In [122]:
my_list

[4, 2, 6, 8, 3, 7, 5, 9, 1]

In [123]:
random_list=shuffle(my_list)

In [124]:
random_list

In [125]:
type(random_list)

NoneType

In [126]:
my_list

[2, 5, 8, 3, 6, 4, 7, 9, 1]

randint

In [127]:
from random import randint

In [128]:
randint(0,10)

2

In [129]:
randint(0,10)

3

In [130]:
randint(0,10)

9

In [131]:
randint(0,10)

1

In [132]:
randint(0,10)

1

In [133]:
myx=randint(0,15)

In [134]:
myx

13

# input

In [135]:
x=input("x is:")

x is:5

In [136]:
print(x)

5

In [137]:
type(x) #important

str

In [138]:
float(x)

5.0

In [139]:
int(x)

5

In [140]:
str(x)

'5'

In [141]:
x

'5'

In [142]:
x=int(input("x is:"))

x is:5

In [143]:
type(x)

int

In [144]:
x=float(input("x is:"))

x is:5

In [145]:
type(x)

float

# LIST COMPREHENSIONS

In [146]:
mystring="coldplay"

In [147]:
mylist=[]
for a in mystring:
    mylist.append(a)

In [148]:
mylist

['c', 'o', 'l', 'd', 'p', 'l', 'a', 'y']

In [149]:
mylist=[a for a in mystring] #important

In [150]:
mylist

['c', 'o', 'l', 'd', 'p', 'l', 'a', 'y']

In [151]:
mylist1=[x for x in "spacex"]

In [152]:
mylist1

['s', 'p', 'a', 'c', 'e', 'x']

In [153]:
mylist2=[a for a in range(10)]

In [154]:
mylist2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [155]:
mylist3=[a*a for a in range(10)]

In [156]:
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [157]:
mylist4=[a for a in range(10) if a%2==0]

In [158]:
mylist4

[0, 2, 4, 6, 8]

In [159]:
mylist5=[a*a for a in range(10) if a%2==0]

In [160]:
mylist5

[0, 4, 16, 36, 64]

In [161]:
celsius=[0,10,20,30,35,40]
fahrenheit=[((9/5)*a+32) for a in celsius]

In [162]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 95.0, 104.0]

In [163]:
fahrenheit=[]
for a in celsius:
    fahrenheit.append((9/5)*a+32)

In [164]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 95.0, 104.0]

In [165]:
results=[x if x%2==0 else "odd" for x in range(15)]

In [166]:
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14]

In [167]:
my_list=[]
for a in [1,2,3]:
    for b in [10,20,30]:
        my_list.append(a*b)

In [168]:
my_list

[10, 20, 30, 20, 40, 60, 30, 60, 90]

In [169]:
my_list=[a*b for a in [1,2,3] for b in [10,20,30]]

In [170]:
my_list

[10, 20, 30, 20, 40, 60, 30, 60, 90]