# METHODS

In [1]:
# built-in objects

In [2]:
mylist=[1,2,3]

In [3]:
mylist

[1, 2, 3]

In [4]:
# .append()

In [5]:
mylist.append(4)

In [6]:
mylist

[1, 2, 3, 4]

In [7]:
# .pop()

In [8]:
mylist.pop()

4

In [9]:
mylist

[1, 2, 3]

In [10]:
# mylist. tab

In [11]:
help(mylist.insert) # help()

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

# FUNCTIONS

In [12]:
# def 
# snake casing
# docstring
# return

In [13]:
def say_hi():
    print("Hi!")

In [14]:
say_hi()

Hi!

In [15]:
def say_hi():
    print("Hi!")
    print("Welcome.")

In [16]:
say_hi()

Hi!
Welcome.

In [17]:
say_hi

In [18]:
def say_hi(a):
    print(f"Hi {a}.")

In [19]:
say_hi("zeynep")

Hi zeynep.

In [20]:
say_hi(1)

Hi 1.

In [21]:
say_hi(1.1)

Hi 1.1.

In [22]:
# say_hi()
# say_hi() missing 1 required positional argument: 'a'

In [23]:
def say_hi(a="Default"):
    print(f"Hi {a}.")

In [24]:
say_hi()

Hi Default.

In [25]:
say_hi("Mars")

Hi Mars.

# Return

In [26]:
def add_num(num1,num2):
    return num1+num2

In [27]:
add_num(10,20)

30

In [28]:
result=add_num(5,8) # return

In [29]:
result

13

In [30]:
def print_result(a,b):
    print(a+b)

In [31]:
print_result(3,5)

8

In [32]:
result1=print_result(4,8)

12

In [33]:
result1 #important

In [34]:
type(result1)

NoneType

In [35]:
def myfunction(a,b):
    print(a+b)
    return(a+b)

In [36]:
myfunction(1,3)

4

4

In [37]:
myfunction(10,20)

30

30

In [38]:
x=myfunction(1,3)

4

In [39]:
x

4

In [40]:
def add_num(num1,num2):
    return num1+num2

In [41]:
add_num(15,5)

20

In [42]:
add_num("15","5")

'155'

# Logic

In [43]:
2%2

0

In [44]:
3%2

1

In [45]:
2%2==0

True

In [46]:
3%2==0

False

In [47]:
def even_check(num):
    a=num%2==0
    return a

In [48]:
even_check(10)

True

In [49]:
even_check(15)

False

In [50]:
def even_check(num):
    return num%2==0

In [51]:
even_check(25)

False

In [52]:
even_check(30)

True

In [53]:
a=[1,2,3,4,5]

In [54]:
a

[1, 2, 3, 4, 5]

In [55]:
for x in a:
    print(x)

1
2
3
4
5

In [56]:
def check_even_list(num_list):
    for x in num_list:
        if x%2==0:
            return True
        else:
            pass # return False is WRONG

In [57]:
check_even_list([1,2,3])

True

In [58]:
check_even_list([1,3])

In [59]:
def check_even_list(num_list):
    for x in num_list:
        if x%2==0:
            return True
        else:
            pass
    return False

In [60]:
check_even_list([1,3,5])

False

In [61]:
check_even_list([1,2,3])

True

In [62]:
def check_even_list(num_list):
    even_numbers=[]
    for x in num_list:
        if x%2==0:
            even_numbers.append(x)
        else:
            pass
    return even_numbers

In [63]:
check_even_list([1,3,5])

[]

In [64]:
check_even_list([1,2,3])

[2]

In [65]:
check_even_list([10,20,30,15,25,35])

[10, 20, 30]

Tuple Unpacking

In [66]:
mylist=[(1,"a"),(2,"b"),(3,"c")]

In [67]:
mylist

[(1, 'a'), (2, 'b'), (3, 'c')]

In [68]:
for a in mylist:
    print(a)

(1, 'a')
(2, 'b')
(3, 'c')

In [69]:
for a,b in mylist:
    print(a)
    print(b)

1
a
2
b
3
c

In [70]:
work_hours=[("Zeynep",50),("Jack",48),("Joe",33),("Christina",24)]

In [71]:
def employee_check(work_hours):
    current_max=0
    employee_of_month=""
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_month=employee
        else:
            pass
    return (employee_of_month,current_max)

In [72]:
employee_check(work_hours)

('Zeynep', 50)

In [73]:
work_hours=[("Zeynep",50),("Jack",4848),("Joe",33),("Christina",24)]

In [74]:
employee_check(work_hours)

('Jack', 4848)

In [75]:
result=employee_check(work_hours)

In [76]:
print(result)

('Jack', 4848)

In [77]:
a,b=employee_check(work_hours)

In [78]:
print(a)

Jack

In [79]:
print(b)

4848

In [80]:
# Interactions

In [81]:
example=[1,2,3,4,5,6,7,8,9]

In [82]:
from random import shuffle

In [83]:
shuffle(example)

In [84]:
example

[4, 5, 9, 7, 3, 8, 6, 2, 1]

In [85]:
result=shuffle(example)

In [86]:
result

In [87]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [88]:
shuffle_list(example)

[6, 2, 1, 8, 3, 5, 7, 4, 9]

In [89]:
result=shuffle_list(example)

In [90]:
result

[8, 9, 3, 4, 7, 5, 6, 1, 2]

In [91]:
mylist=["","O",""]

In [92]:
shuffle_list(mylist)

['', 'O', '']

In [93]:
def player_guess():
    guess=""
    guess=int(input("0, 1 or 2: "))
    return guess

In [94]:
player_guess()

0, 1 or 2: 0

0

In [95]:
player_guess()

0, 1 or 2: 0

0

In [96]:
player_guess()

0, 1 or 2: 0

0

In [97]:
my_index=player_guess()

0, 1 or 2: 0

In [98]:
my_index

0

In [99]:
def check_guess(mylist,guess):
    if mylist[guess]=="O":
        print("Correct.")
    else:
        print("Wrong.")
        print(mylist)

In [100]:
# S T E P S
mylist=["","O",""]
new_list=shuffle_list(mylist)
guess=player_guess()
check_guess(new_list,guess)

0, 1 or 2: 0
Wrong.
['', '', 'O']

# *args

tuples

In [101]:
def num_sum(a,b):
    return sum((a,b))
# a and b, positions or arguments, positional arguments

In [102]:
num_sum(1,2)

3

In [103]:
def num_sum(a,b,c=0,d=0):
    return sum((a,b,c,d))

In [104]:
num_sum(1,2)

3

In [105]:
num_sum(1,2,3)

6

In [106]:
num_sum(1,2,3,4)

10

In [107]:
def num_sum(*args):
    return sum(args)

In [108]:
num_sum(1,3,5,7)

16

In [109]:
num_sum(1,3,5,7,2,4,6,8)

36

In [110]:
def num_sum(*args):
    print(args)

In [111]:
num_sum(1,3,5,7,9)

(1, 3, 5, 7, 9)

In [112]:
def num_sum(*num):
    return sum(num)

In [113]:
num_sum(3,4,5)

12

In [114]:
def num_sum(*args):
    for item in args:
        print(item)

In [115]:
num_sum(4,3,2)

4
3
2

# **kwargs

dictionaries

In [116]:
def myfunc(**kwargs):
    print(kwargs)

In [117]:
myfunc(name="Zeynep")

{'name': 'Zeynep'}

In [118]:
myfunc(city="Istanbul")

{'city': 'Istanbul'}

In [119]:
def myfunc1(**dic):
    print(dic)

In [120]:
myfunc1(one="1",two="2")

{'one': '1', 'two': '2'}

In [121]:
# *args
# **kwargs

In [122]:
def myfunc2(*args,**kwargs):
    print(args,kwargs)

In [123]:
myfunc2(1,2,3,python="Jupyter",function="func.")

(1, 2, 3) {'python': 'Jupyter', 'function': 'func.'}

In [124]:
def myfunc2(*args,**kwargs):
    print(args)
    print(kwargs)

In [125]:
myfunc2(1,2,3,python="Jupyter",function="func.")

(1, 2, 3)
{'python': 'Jupyter', 'function': 'func.'}

# map

In [126]:
def square(num):
    return num*num

In [127]:
my_nums=[1,2,3,4,5]

In [128]:
map(square,my_nums)

In [129]:
for a in map(square,my_nums):
    print(a)

1
4
9
16
25

In [130]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [131]:
def splicer(x):
    if len(x)%2==0:
        return "EVEN."
    else:
        return x[0]

In [132]:
my_string=["zeynep","juliet","janet"]

In [133]:
map(splicer,my_string)

In [134]:
list(map(splicer,my_string))

['EVEN.', 'EVEN.', 'j']

In [135]:
def check_even(x):
    return x%2==0

In [136]:
check_even(20)

True

In [137]:
check_even(15)

False

In [138]:
my_nums=[1,2,3,4,5,6]

# filter

In [139]:
filter(check_even,my_nums)

In [140]:
list(filter(check_even,my_nums))

[2, 4, 6]

In [141]:
for a in filter(check_even,my_nums):
    print(a)

2
4
6

# lambda

an anonymous function

In [142]:
def square(num):
    return num*num

In [143]:
square(5)

25

In [144]:
def square(num): return num*num #important

In [145]:
square(3)

9

In [146]:
lambda num:num*num #important

In [147]:
square=lambda num:num*num #important

In [148]:
square(5)

25

In [149]:
square(3)

9

In [150]:
my_nums

[1, 2, 3, 4, 5, 6]

In [151]:
list(map(lambda num:num*num,my_nums))

[1, 4, 9, 16, 25, 36]

In [152]:
list(filter(lambda num:num%2==0,my_nums))

[2, 4, 6]

In [153]:
my_string

['zeynep', 'juliet', 'janet']

In [154]:
list(map(lambda x:x[0],my_string))

['z', 'j', 'j']

In [155]:
# the namespace
# the scope

In [156]:
x=5

In [157]:
x

5

In [158]:
def a():
    x=10
    return x

In [159]:
x

5

In [160]:
print(x)

5

In [161]:
a()

10

In [162]:
print(a())

10

# LEGB RULE

L: Local

E: Enclosing Function Locals

G: Global

B: Built-in

In [163]:
# local

In [164]:
lambda num:num*num # local

In [165]:
my_string="this is a global string." # global

In [166]:
def greet():
    my_string="function" # an enclosing function local
    def hi():
        print("hi "+my_string)
    hi()
greet()

hi function

In [167]:
my_string="this is a global string." # global
def greet():
    my_string="function" # an enclosing function local
    def hi():
        my_string="local" # local
        print("hi "+my_string)
    hi()
greet()

hi local

In [168]:
greet

In [169]:
greet()

hi local

In [170]:
len # built-in

In [171]:
help(len) # help()

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [172]:
x=5

In [173]:
x

5

In [174]:
def func(x):
    print(f"x is {x}.")
    # local reassignment
    x=15
    print(f"i just locally changed x to {x}.")

In [175]:
func(x)

x is 5.
i just locally changed x to 15.

In [176]:
x

5

In [177]:
x=5
def func():
    global x
    print(f"x is {x}.")
    # local reassignment on a global variable
    x=15
    print(f"i just locally changed global x to {x}.")

In [178]:
x

5

In [179]:
func()

x is 5.
i just locally changed global x to 15.

In [180]:
x

15

In [181]:
x=5
def func(x):
    print(f"x is {x}.")
    # local reassignment
    x=15
    print(f"i just locally changed x to {x}.")
    return x

In [182]:
x

5

In [183]:
func(x)

x is 5.
i just locally changed x to 15.

15

In [184]:
x

5

In [185]:
x=func(x)

x is 5.
i just locally changed x to 15.

In [186]:
x

15