# PYTHON

# OBJECT AND DATA STRUCTURE BASICS

PYTHON DATA TYPES

Name: Integers
Type: int

In [1]:
a=3
b=18

In [2]:
a

3

In [3]:
b

18

Name: Floating Point
Type: float

In [4]:
c=3.3
d=101.0

In [5]:
c

3.3

In [6]:
d

101.0

Name: Strings
Type: str

In [7]:
"Hi!"

'Hi!'

In [8]:
"Welcome!"

'Welcome!'

In [9]:
"18"

'18'

In [10]:
'morning'

'morning'

In [11]:
x="Zeynep"

In [12]:
x

'Zeynep'

Name: Lists
Type: list

In [13]:
[10,11]

[10, 11]

In [14]:
[1,2,"Istanbul"]

[1, 2, 'Istanbul']

In [15]:
[3.3,"18",18,"Turkey"]

[3.3, '18', 18, 'Turkey']

In [16]:
e=[1,2,3,4,5,"Python","Programming","Language"]

In [17]:
e

[1, 2, 3, 4, 5, 'Python', 'Programming', 'Language']

Name: Dictionaries
Type: Dict

In [18]:
{"myname":"Zeynep","myage":18}

{'myname': 'Zeynep', 'myage': 18}

In [19]:
f={"key":"value"}

In [20]:
f

{'key': 'value'}

Name: Tuples
Type: tup

In [21]:
(1,2,3,18.8,13.3,"coding")

(1, 2, 3, 18.8, 13.3, 'coding')

In [22]:
g=(3,"A",2,1)

In [23]:
g

(3, 'A', 2, 1)

Name: Sets
Type: set

In [24]:
{"a","b"}

{'a', 'b'}

In [25]:
h={1,2,"c","d"}

In [26]:
h

{1, 2, 'c', 'd'}

Name: Booleans
Type: bool

In [27]:
True

True

In [28]:
False

False

PYTHON NUMBERS

In [29]:
3+5

8

In [30]:
5-3

2

In [31]:
3*5

15

In [32]:
5/3

1.6666666666666667

In [33]:
5//3

1

In [34]:
#Mod (Modulo) Operator

In [35]:
5/3

1.6666666666666667

In [36]:
5%3

2

In [37]:
6%3

0

In [38]:
2*3

6

In [39]:
2**3

8

In [40]:
3**2

9

In [41]:
9**0.5

3.0

In [42]:
2+3*4+5

19

In [43]:
(2+3)*(4+5)

45

VARIABLE ASSIGNMENTS

In [44]:
a=5

In [45]:
a

5

In [46]:
a=10

In [47]:
a

10

In [48]:
a+a

20

In [49]:
a*a

100

In [50]:
a=a+a

In [51]:
a

20

In [52]:
a=a+a

In [53]:
a

40

In [54]:
#important
type(a)

int

In [55]:
b=3.3

In [56]:
type(b)

float

In [57]:
my_income=150
tax_rate=0.1
my_tax=my_income*tax_rate

In [58]:
my_tax

15.0

STRINGS

In [59]:
'Hi'

'Hi'

In [60]:
"Hello"

'Hello'

In [61]:
"I don't want to do that."

"I don't want to do that."

In [62]:
#indexing

In [63]:
#"hi"
#h: 0. index #important
#i: 1. index

In [64]:
#reverse index
#"hello"
#h: 0. index
#e: -4. index
#l: -3. index
#l: -2. index
#o: -1. index #important

In [65]:
#slicing
#[start:stop:step]
#start: index
#stop: index, not include

In [66]:
"hi"

'hi'

In [67]:
print("hi")

hi

In [68]:
"zeynep"
"akkaya"

'akkaya'

In [69]:
print("zeynep")
print("akkaya")

zeynep
akkaya

In [70]:
print("zeynep\nakkaya")
# \n

zeynep
akkaya

In [71]:
print("zeynep\takkaya")
# \t # 4 spaces

zeynep	akkaya

In [72]:
#length function
# len()

In [73]:
len("hi")

2

In [74]:
len("i am")

4

INDEXING AND SLICING
STRINGS

In [75]:
my_string="Hi everyone!"

In [76]:
my_string

'Hi everyone!'

In [77]:
#indexing

In [78]:
my_string[0]

'H'

In [79]:
my_string[1]

'i'

In [80]:
my_string[2]

' '

In [81]:
my_string[11]

'!'

In [82]:
my_string[-1]

'!'

In [83]:
my_string[10]

'e'

In [84]:
my_string[-2]

'e'

In [85]:
#slicing

In [86]:
my_string[2]

' '

In [87]:
my_string[2:]

' everyone!'

In [88]:
my_string[:3] #not include 3. index

'Hi '

In [89]:
my_string[:2]

'Hi'

In [90]:
my_string[3:11]

'everyone'

In [91]:
my_string[3:12]

'everyone!'

In [92]:
my_string[3:13]

'everyone!'

In [93]:
my_string[::]

'Hi everyone!'

In [94]:
my_string[::2]

'H vroe'

In [95]:
my_string[::3]

'Hern'

In [96]:
my_string[3:13:2]

'eeyn!'

In [97]:
my_string1="zxexyxnxexpx"

In [98]:
my_string1[::2]

'zeynep'

In [99]:
my_string1[::-1] #reverse

'xpxexnxyxexz'

In [100]:
my_string[::-1]

'!enoyreve iH'

STRING PROPERTIES - STRING METHODS

In [101]:
#Immutability
#can't mutate or can't change

In [102]:
name="Zeynep"

In [103]:
# name[0]="x"
# strings are immutable

name[0]="x"
TypeError: 'str' object does not support item assignment

In [104]:
last_letters=name[1:]

In [105]:
last_letters

'eynep'

In [106]:
"x"+last_letters

'xeynep'

In [107]:
a="hi"

In [108]:
a+"everyone"

'hieveryone'

In [109]:
a+" everyone"

'hi everyone'

In [110]:
a=a+" everyone"

In [111]:
a

'hi everyone'

In [112]:
age="18"

In [113]:
age*10

'18181818181818181818'

In [114]:
3+6

9

In [115]:
"3"+"6"

'36'

In [116]:
x="hi world"

In [117]:
# x. tab
#all methods

In [118]:
x.upper() #upper()

'HI WORLD'

In [119]:
x

'hi world'

In [120]:
x=x.upper()

In [121]:
x

'HI WORLD'

In [122]:
x.lower() #lower()

'hi world'

In [123]:
x

'HI WORLD'

In [124]:
x=x.lower()

In [125]:
x

'hi world'

In [126]:
x.split() #split()

['hi', 'world']

In [127]:
y="hi, this is a string."

In [128]:
y.split()

['hi,', 'this', 'is', 'a', 'string.']

In [129]:
y.split("i")

['h', ', th', 's ', 's a str', 'ng.']

print()

In [130]:
my_name="Zeynep"

In [131]:
print("My name is"+my_name)

My name isZeynep

In [132]:
print("My name is "+my_name)

My name is Zeynep

.format()

In [133]:
print("My name is {}.".format(my_name))

My name is Zeynep.

In [134]:
print("{},{},{}".format(1,2,3))

1,2,3

In [135]:
print("{2},{1},{0}".format(1,2,3))

3,2,1

In [136]:
print("{0},{0},{0}".format(1,2,3))

1,1,1

In [137]:
print("{one},{two},{three}".format(one="1",two="2",three="3"))

1,2,3

In [138]:
print("{one},{one},{one}".format(one="1",two="2",three="3"))

1,1,1

In [139]:
# {value:width.precision f}

In [140]:
result=100/350

In [141]:
result

0.2857142857142857

In [142]:
print("The result is: {}".format(result))

The result is: 0.2857142857142857

In [143]:
print("The result is: {x}".format(x=result))

The result is: 0.2857142857142857

In [144]:
print("The result is: {x:1.3f}".format(x=result))

The result is: 0.286

In [145]:
print("The result is: {x:10.3f}".format(x=result))

The result is:      0.286

In [146]:
print("My name is {}.".format(my_name))

My name is Zeynep.

In [147]:
print(f"My name is {my_name}.") #f strings #formatted string literals

My name is Zeynep.

In [148]:
name="Elif"
age=40

In [149]:
print(f"{name} is {age}.")

Elif is 40.

In [150]:
# %s

In [151]:
print("My name is %s" %"Zeynep")

My name is Zeynep

In [152]:
# %r

In [153]:
print("My name is %r" %"Zeynep")

My name is 'Zeynep'

In [154]:
x,y="5","15"

In [155]:
print("first %s, second %s" %(x,y))

first 5, second 15

LISTS

In [156]:
my_list1=[1,2,3]

In [157]:
my_list=["Istanbul",18,13.3,"Zeynep",18.4]

In [158]:
len(my_list)

5

In [159]:
my_list[0]

'Istanbul'

In [160]:
my_list[1]

18

In [161]:
my_list[1:]

[18, 13.3, 'Zeynep', 18.4]

In [162]:
my_list+my_list1

['Istanbul', 18, 13.3, 'Zeynep', 18.4, 1, 2, 3]

In [163]:
my_list1+my_list

[1, 2, 3, 'Istanbul', 18, 13.3, 'Zeynep', 18.4]

In [164]:
new_list=my_list1+my_list

In [165]:
new_list

[1, 2, 3, 'Istanbul', 18, 13.3, 'Zeynep', 18.4]

In [166]:
my_list

['Istanbul', 18, 13.3, 'Zeynep', 18.4]

In [167]:
my_list1

[1, 2, 3]

In [168]:
new_list[0]="This is a list."

In [169]:
new_list

['This is a list.', 2, 3, 'Istanbul', 18, 13.3, 'Zeynep', 18.4]

In [170]:
#append()

In [171]:
new_list.append("America")

In [172]:
new_list

['This is a list.', 2, 3, 'Istanbul', 18, 13.3, 'Zeynep', 18.4, 'America']

In [173]:
#pop

In [174]:
new_list.pop

In [175]:
new_list.pop()

'America'

In [176]:
new_list

['This is a list.', 2, 3, 'Istanbul', 18, 13.3, 'Zeynep', 18.4]

In [177]:
popped_item=new_list.pop() #important

In [178]:
popped_item

18.4

In [179]:
new_list

['This is a list.', 2, 3, 'Istanbul', 18, 13.3, 'Zeynep']

In [180]:
new_list.pop(0)

'This is a list.'

In [181]:
new_list

[2, 3, 'Istanbul', 18, 13.3, 'Zeynep']

In [182]:
new_list1=["a","x","m","n","c","b"]

In [183]:
# sort()

In [184]:
new_list1.sort()

In [185]:
new_list1

['a', 'b', 'c', 'm', 'n', 'x']

In [186]:
my_sorted_list=new_list1.sort()

In [187]:
my_sorted_list

In [188]:
type(my_sorted_list)

NoneType

In [189]:
None

In [190]:
# reverse()

In [191]:
new_list1.reverse()

In [192]:
new_list1

['x', 'n', 'm', 'c', 'b', 'a']

DICTIONARIES

In [193]:
my_dict={"key1":"value1","key2":"value2"}

In [194]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [195]:
my_dict["key1"]

'value1'

In [196]:
my_dict["key2"]

'value2'

In [197]:
dict1={"k1":1,"k2":[1,3,5],"k3":"v3","k4":{"a":"b"}}

In [198]:
dict1

{'k1': 1, 'k2': [1, 3, 5], 'k3': 'v3', 'k4': {'a': 'b'}}

In [199]:
dict1["k1"]

1

In [200]:
dict1["k2"]

[1, 3, 5]

In [201]:
dict1["k2"][0]

1

In [202]:
dict1["k2"][1]

3

In [203]:
dict1["k2"][2]

5

In [204]:
dict1["k3"]

'v3'

In [205]:
dict1["k4"]

{'a': 'b'}

In [206]:
dict1["k4"]["a"]

'b'

In [207]:
d=dict1["k2"]

In [208]:
d

[1, 3, 5]

In [209]:
d[0]

1

In [210]:
d[1]

3

In [211]:
d[2]

5

In [212]:
dict1

{'k1': 1, 'k2': [1, 3, 5], 'k3': 'v3', 'k4': {'a': 'b'}}

In [213]:
dict1["Zeynep"]="myname"

In [214]:
dict1

{'k1': 1, 'k2': [1, 3, 5], 'k3': 'v3', 'k4': {'a': 'b'}, 'Zeynep': 'myname'}

In [215]:
dict1["k1"]

1

In [216]:
dict1["k1"]="123"

In [217]:
dict1["k1"]

'123'

In [218]:
dict1.keys() # keys()

dict_keys(['k1', 'k2', 'k3', 'k4', 'Zeynep'])

In [219]:
dict1.values() # values()

dict_values(['123', [1, 3, 5], 'v3', {'a': 'b'}, 'myname'])

In [220]:
dict1.items() # items()

dict_items([('k1', '123'), ('k2', [1, 3, 5]), ('k3', 'v3'), ('k4', {'a': 'b'}), ('Zeynep', 'myname')])

TUPLES

In [221]:
#immutable

In [222]:
t=(1,2,3)

In [223]:
t

(1, 2, 3)

In [224]:
type(t)

tuple

In [225]:
len(t)

3

In [226]:
t=("Jupyter",15)

In [227]:
t

('Jupyter', 15)

In [228]:
t[0]

'Jupyter'

In [229]:
t[1]

15

In [230]:
t=("a","x","a",1,"a")

In [231]:
# count()

In [232]:
t.count("a")

3

In [233]:
# index()

In [234]:
t.index("x")

1

In [235]:
t.index(1)

3

In [236]:
t.index("a")

0

In [237]:
# t[0]="morning"
# 'tuple' object does not support item assignment

SETS

In [238]:
my_set=set()

In [239]:
my_set

set()

In [240]:
# add()

In [241]:
my_set.add(1)

In [242]:
my_set

{1}

In [243]:
my_set.add(2)

In [244]:
my_set

{1, 2}

In [245]:
my_set.add(2)

In [246]:
my_set

{1, 2}

In [247]:
my_list=[1,1,2,2,3,3,"a","a","a","a","x",5,"x",5,"x"]

In [248]:
my_list

[1, 1, 2, 2, 3, 3, 'a', 'a', 'a', 'a', 'x', 5, 'x', 5, 'x']

In [249]:
set(my_list)

{1, 2, 3, 5, 'a', 'x'}

BOOLEANS

In [250]:
True

True

In [251]:
False

False

In [252]:
type(True)

bool

In [253]:
type(False)

bool

In [254]:
2>1

True

In [255]:
1>2

False

In [256]:
1==1

True

In [257]:
x=None

In [258]:
x

In [259]:
type(x)

NoneType

FILES

In [260]:
#Jupyter

In [261]:
%%writefile my_file.txt
Hi, this is a file.
And I am Zeynep.

Overwriting my_file.txt

In [262]:
# open()

In [263]:
my_file=open("my_file.txt")

In [264]:
pwd # print working directory

'C:\\Users\\zsa\\Documents\\Python'

In [265]:
# read()

In [266]:
my_file.read()

'Hi, this is a file.\nAnd I am Zeynep.\n'

In [267]:
my_file.read() #important

''

In [268]:
# seek()

In [269]:
my_file.seek(0)

0

In [270]:
my_file.read()

'Hi, this is a file.\nAnd I am Zeynep.\n'

In [271]:
my_file.seek(0)

0

In [272]:
contents=my_file.read()

In [273]:
contents

'Hi, this is a file.\nAnd I am Zeynep.\n'

In [274]:
contents

'Hi, this is a file.\nAnd I am Zeynep.\n'

In [275]:
my_file.seek(0)

0

In [276]:
# readlines()

In [277]:
my_file.readlines()

['Hi, this is a file.\n', 'And I am Zeynep.\n']

In [278]:
#File Locations

In [279]:
pwd

'C:\\Users\\zsa\\Documents\\Python'

In [280]:
# close()

In [281]:
my_file.close()

In [282]:
my_file=open("my_file.txt")

In [283]:
# with # as

In [284]:
with open("my_file.txt") as my_file1:
    contents1=my_file1.read()

In [285]:
contents1

'Hi, this is a file.\nAnd I am Zeynep.\n'

In [286]:
# mode="r" #read only

In [287]:
with open("my_file.txt",mode="r") as my_file1:
    contents1=my_file1.read()

In [288]:
#mode="w": write only, overwrites files or creates new
#mode="a": append only
#mode="r+": reading and writing
#mode="w+": writing and reading, overwrites files or creates new

In [289]:
%%writefile my_new_file.txt
Zeynep
Akkaya
Hi, everybody

Overwriting my_new_file.txt

In [290]:
with open("my_new_file.txt",mode="r") as f:
    print(f.read())

Zeynep
Akkaya
Hi, everybody

In [291]:
with open("my_new_file.txt",mode="a") as f:
    f.write("Python")

In [292]:
with open("my_new_file.txt",mode="r") as f:
    print(f.read())

Zeynep
Akkaya
Hi, everybody
Python

In [293]:
with open("new_file.txt",mode="w") as f:
    f.write("i just created this file.")

In [294]:
with open("new_file.txt",mode="r") as f:
    print(f.read())

i just created this file.